* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background: #eef8ff;
}

.steps-section {
  text-align: center;
  padding: 70px 0;
  background-color: 	#fff7df;
}

.section-title {
  font-size: 5rem;
  color: #2d0b00;
  margin-bottom: 20px;
}

.section-description {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.steps-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.step-card {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  width: 370px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.step-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.step-title {
  font-size: 2rem;
  color: #2d0b00;
  margin-bottom: 15px;
}

.step-description {
  font-size: 1rem;
  color: #777;
}

@media (max-width: 768px) {
  .steps-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.footer {
  width: 100%;
  position: relative;

  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3),
.col:nth-child(4),
.col:nth-child(5) {
  flex-basis: 15%;
}

.logo {
  align-items: center;
  width: 50%;
  margin-bottom: 40px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .far {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fa-solid {
  font-size: 16px;
  color: #ccc;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }

  .col:nth-child(2),
  .col:nth-child(3),
  .col:nth-child(4),
  .col:nth-child(5) {
    flex-basis: 100%;
  }
}
